{% extends "base_site.html" %}

{% block conteudo %}

	<h1>Cadastro de Alunos</h1>
	<div class="panel panel-primary">
		<div class="panel-heading"> Dados do Aluno </div>
		<div class="panel-body">
			<form action="" method="post">
				{% csrf_token %}
				<div class="form-group">
					{{ form.nome.errors }}
					<label for="nome">Nome:</label><br>
					{{ form.nome }}
				</div>

				<div class="form-group">
					{{ form.turma.errors }}
					<label for="turma">Turma:</label><br>
					{{ form.turma }}
				</div>

				<div class="form-group">
					{{ form.provas.errors }}
					<label for="provas">Provas Feitas:</label><br>
					{{ form.provas }}
				</div>

				<input type="submit" value="Enviar" class="btn btn-primary btn-lg"/>
			</form>
		</div>
	</div>
{% endblock %}
