<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a href="{% url notas:index %}" class="navbar-brand">Sistema Escolar</a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{% url alunos:index %}">Cadastro de Alunos</a></li>
				<li><a href="#">Cadastro de Provas</a></li>
				<li><a href="#">Cadastro de Turmas</a></li>
				<li><a href="#">Lançamento de Notas</a></li>
			</ul>
		</div>
	</div>
</nav>